<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CordovaLearn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>043322C81CABC7F600E2A1CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043322E11CABC7F600E2A1CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043322EC1CABC7F600E2A1CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
