<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CZTestApp2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04BEE5181C8D4D570072CB43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04BEE5311C8D4D570072CB43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04BEE53C1C8D4D580072CB43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
