<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>工商银行</key>
	<dict>
		<key>jjk</key>
		<string>ICBC-D</string>
		<key>djk</key>
		<string>ICBC-C</string>
		<key>src</key>
		<string>/static/pcView/images/bankImg/2.png</string>
	</dict>
    <key>光大银行</key>
    <dict>
        <key>jjk</key>
        <string>CEB-D</string>
        <key>djk</key>
        <string>CEB-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>华夏银行</key>
    <dict>
        <key>jjk</key>
        <string>HXB-D</string>
        <key>djk</key>
        <string>HXB-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>建设银行</key>
    <dict>
        <key>jjk</key>
        <string>CCB-D</string>
        <key>djk</key>
        <string>CCB-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>交通银行</key>
    <dict>
        <key>jjk</key>
        <string>BOCOM-D</string>
        <key>djk</key>
        <string>BOCOM-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>民生银行</key>
    <dict>
        <key>jjk</key>
        <string>CMBC-D</string>
        <key>djk</key>
        <string>CMBC-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>农业银行</key>
    <dict>
        <key>jjk</key>
        <string>ABC-D</string>
        <key>djk</key>
        <string>ABC-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>平安银行</key>
    <dict>
        <key>jjk</key>
        <string>PAB-D</string>
        <key>djk</key>
        <string>PAB-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>浦发银行</key>
    <dict>
        <key>jjk</key>
        <string>SPDB-D</string>
        <key>djk</key>
        <string>SPDB-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>上海银行</key>
    <dict>
        <key>jjk</key>
        <string>BOS-D</string>
        <key>djk</key>
        <string>BOS-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>兴业银行</key>
    <dict>
        <key>jjk</key>
        <string>CIB-D</string>
        <key>djk</key>
        <string>CIB-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>中国银行</key>
    <dict>
        <key>jjk</key>
        <string>BOC-D</string>
        <key>djk</key>
        <string>BOC-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>中国邮政储蓄银行</key>
    <dict>
        <key>jjk</key>
        <string>PSBC-D</string>
        <key>djk</key>
        <string>PSBC-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>中信银行</key>
    <dict>
        <key>jjk</key>
        <string>CNCB-D</string>
        <key>djk</key>
        <string>CNCB-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>广东农村信用社</key>
    <dict>
        <key>jjk</key>
        <string>GDRCU-D</string>
        <key>djk</key>
        <string>GDRCU-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>杭州银行</key>
    <dict>
        <key>jjk</key>
        <string>HZCB-D</string>
        <key>djk</key>
        <string>HZCB-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>江苏银行</key>
    <dict>
        <key>jjk</key>
        <string>JSBK-D</string>
        <key>djk</key>
        <string>JSBK-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>深圳农村商业银行</key>
    <dict>
        <key>jjk</key>
        <string>SZRCU-D</string>
        <key>djk</key>
        <string>SZRCU-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>渤海银行</key>
    <dict>
        <key>jjk</key>
        <string>CBHB-D</string>
        <key>djk</key>
        <string>CBHB-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>北京银行</key>
    <dict>
        <key>jjk</key>
        <string>BCCB-D</string>
        <key>djk</key>
        <string>BCCB-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>广发银行</key>
    <dict>
        <key>jjk</key>
        <string>GDB-D</string>
        <key>djk</key>
        <string>GDB-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>徽商银行</key>
    <dict>
        <key>jjk</key>
        <string>HSCB-D</string>
        <key>djk</key>
        <string>HSCB-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>上海农商行</key>
    <dict>
        <key>jjk</key>
        <string>SRCB-D</string>
        <key>djk</key>
        <string>SRCB-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>北京农商行</key>
    <dict>
        <key>jjk</key>
        <string>BRCB-D</string>
        <key>djk</key>
        <string>BRCB-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    <key>重庆银行</key>
    <dict>
        <key>jjk</key>
        <string>CQCBANK-D</string>
        <key>djk</key>
        <string>CQCBANK-C</string>
        <key>src</key>
        <string>/static/pcView/images/bankImg/2.png</string>
    </dict>
    </dict>
</plist>
